<tr>
    <td>1</td>
    <td>Avi</td>
    <td>16</td>
    <td>2</td>
    <td>Handler</td>
    <td>Male</td>
    <td>Active</td>
    <td>7788470384</td>
    <th>Dislocated Shoudler</th>
    <td>
        <a href="/update-user" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>